<% provide :title, "Lesson \"#{@lesson.name}\"" %>

<div class="page-header">
  <h1><%= yield :title %></h1>
</div>

<div class="row">
  <div class="col-md-8">
    <h5>Status</h5>
    <p><%= lesson_status_label(@lesson) %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
  </div>
</div>



<%= render :partial => '/lessons/lesson', :object => @lesson %>

<p>
  <%= link_to 'Edit Lesson', edit_admin_lesson_path(@lesson), :class => 'btn btn-success' %>
  <%= link_to 'Return to List', admin_lessons_path, :class => 'btn btn-link' %>

  <%= link_to 'Delete Lesson', admin_lesson_path(@lesson), :method => :delete, :class => 'btn btn-danger pull-right' %>
</p>
